h1 {
  color: white;
  font-family: "Times New Roman", Times, serif;
  size: 74px;
}
h2 {
  color: white;
  font-family: "Times New Roman", Times, serif;
  size: 40px;
}
img {
  height: 100%;
  width: 100%;
}
